* {
    box-sizing: border-box;
}
.main_logo {
    width: 100px !important;
    height: 50px !important;
}
.profile_info .style_1 {
    background: #000;
    width: 100%;
    height: 500px;
}
/* .fixed-header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 8888;
}  */
.profile_info.style_1 {
    padding: 90px 0 200px;
    -webkit-background: url(../img/new-slider.jpg)left bottom no-repeat;
    -moz-background: url(../img/new-slider.jpg)left bottom no-repeat;
    background: url(../img/new-slider.jpg)left bottom no-repeat;
    background-size: cover;
    height: 100vh!important;
    width: 100vw!important;
}
.profile_info.style_1 .profile_info_iner {
    margin-top: 4rem;
}
.profile_info.style_1 .profile_info_iner h2 {
    color: rgb(30 30 30);
    font-size: 50px;
    
}
.logo-icon {
    margin-bottom: 2rem;
}
.scroll {
    color: rgb(39, 39, 39);
    margin-top: 20px;
}
.header_part.classic_header .navbar .nav-link {
    font-size: 1rem !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.header_part.classic_header .navbar .dropdown:hover .nav-link:hover, .header_part.classic_header .navbar .nav-link:hover {
    color: #F33A38;
    font-size: 1rem !important;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.logo img {
    width: 195px;
    height: 53px;
}
.multiScroll_section .multiScroll_content p {
    color: #fff;
    font-size: 1rem;
}
.multiScroll_section .multiScroll_content4 h5 {
    font-size: 24px;
    color: #000;
    margin-bottom: 18px;
    text-transform: capitalize;
    font-weight: 400;
}
.fullWidthSec {
    -webkit-background: url(../img/breadcrumb_bg/team_breadcrumg_1.png)left top no-repeat;
    -moz-background: url(../img/breadcrumb_bg/team_breadcrumg_1.png)left top no-repeat;
    background: url(../img/breadcrumb_bg/team_breadcrumg_1.png)left top no-repeat;
    background-size: cover;
    width: 100%;
    padding: 5rem 0;
}
.fullWidthSec .fullWidthSecCon h3 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.6;
}
.fullWidthSec .fullWidthSecCon p {
    color: #fff;
    margin-bottom: 20px;
}
.ServiceBoxBtn {
    margin-top: 15px;
}
.nav-pills .nav-link {
    background-color: #f6f6f6;
    border-radius: 0;
    margin: 0 10px 20px;
    color: #000;
    padding: 15px 20px;
}
.nav-pills .nav-link.active {
    background-color: #F33532;
}
.talkToExpert {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.talkToExpert {
    background: #f1f1f1;
    border-radius: 5px;
    padding: 45px 25px;
    margin-bottom: 5rem;
}
.talkToExpert .talkToExpertLeft h5{
    font-size: 32px;
}
.Home-page {
    z-index: 9999;
    position: relative;
}
.DeliveringSec {
    margin: 3rem 0;
}
.DeliveringSec .DeliveringSecCon {
    background: #FEEEA3;
    padding: 3rem;
    border-radius: 10px;
}
.DeliveringSec .DeliveringSecCon p {
    margin-top: 1rem;
    font-size: 1rem;
    color: #000;
}
.BsocialIcon {
    margin-top: 2rem;
}
.BsocialIcon a {
    color: #1c1c1c;
    margin-left: 1rem;
}
.BsocialIcon a {
    padding-top: 1rem;
}
.ourApproach {
    background-color: #0EAD4C;
    padding: 2rem 0;
}
.ourApproachTab {
    display: flex;
    justify-content: center;
}
.ourApproachCon .nav-pills .nav-link {
    background-color: #2f8b3d;
    margin: 1px;
    color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    font-size: 17px;
}
.ourApproachCon .nav-pills .nav-link.active {
    background-color: #1e722b;
    color: #fff;
}
.ourApproachCon .tabConRight, .tabConLeft {
    margin-top: 2rem;
}
.ourApproachCon .tabConRight h2 {
    color: #fff;
}
.ourApproachCon .tabConRight p {
    color: #fff;
    margin-top: 1.5rem;
    font-size: 1rem;
}
.ourApproachCon .tabConLeft {
    background: #fff;
    border-radius: 10px;
    height: 23rem;
}
.AccelerateSec {
    background: #E8FBFD;
    padding: 5rem 0;
}
.AccelerateSec .AccelerateSecCon {
    background: #fff;
    padding: 2rem 0;
    border-radius: 5px;
}
.AccelerateSec .AccelerateSecCon h6 {
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 0 2rem;
}
.AccelerateSec .AccelerateSecCon img {
    width: 100%;
    margin: 2rem 0 0;
    padding: 0 2rem;
}
.AccelerateSec .AccelerateSecCon p {
    margin: 1.5rem 2rem 0;
    font-size: 1rem;
}
.AccelerateSecConBtn {
    margin-right: 2rem;
}
.AccelerateSecConBtn button {
    background: #2a2a2a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all .5s ease-in-out;
}
.AccelerateSecConBtn button:hover {
    background: #0EAD4C;
    color: #fff;
    transition: all .5s ease-in-out;
}
.FavoriteBlogSec {
    background: #282828;
    padding: 4rem 0;
}
.FavoriteBlogSec h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
}
.FavoriteBlogSec p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}
.BlogBox {
    background: #f9272c!important;
    box-shadow:0 1px 0 rgba(0,0,0,.2);
    position:relative;
    margin-top: 2rem;
    border-radius: 5px;
}
.BlogBox .card {
    border: none;
    background: #f9272c!important;
}
.BlogBox .card h1 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    padding: 2rem 2rem .5rem;
}
.BlogBox .card p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 0 2rem 2rem;
}
.BlogBox .card .card__corner {
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    height: 2em;
    background-color: #f9272c!important;
}
.BlogBox .card .card__corner .card__corner-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2em 2em 0;
    border-color: #ffd800 #282828 #ffd800 #ffd800;
}
.BlogBoxIcon a {
    float: right;
    color: #000;
    /* padding-right: .5rem; */
    margin: 0 1rem 2rem 0;
}
.BlogBoxIcon a:first-child {
    margin-right: 2rem;
}
.ViewBtn a button {
    width: 100%;
    text-align: center;
    background: #424242;
    border: 2px solid #5a5a5a;
    margin-top: 2rem;
    padding: 0.75rem 0;
    color: #fff;
    border-radius: 5px;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
}
.ViewBtn a button:hover {
    background: #f9272c;
    border: 2px solid #f9272c;
    color: #fff;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
}
.StayTuneSec {
    background: #E6F1FC;
    padding: 6rem 0;
}
.StayTuneSecCon .StayTuneSecConForm .inp-icon {
    background: url(../img/mail.png)no-repeat 95% , #fff;
    background-size: 16px;
    width: 20rem;
    height: 3rem;
    padding: 0 1rem;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}
.StayTuneSec .StayTuneSecCon h3 {
    margin-top: 1rem;
    font-size: 40px;
    font-weight: 600;
}
.StayTuneSecCon .StayTuneSecCon {
    margin: 1rem 0;
}
.StayTuneSecCon .StayTuneSecConForm {
    margin: 1rem 0;
}
.StayTuneSec .StayTuneSecCon a {
    color: #0561A8;
    font-size: 20px;
    font-weight: 600;
}
.StayTuneSec .StayTuneSecCon a:hover {
    text-decoration: underline;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.footer-top .footer-logo-right a {
    margin-left: 1rem;
    color: #787878;
}
.footer_section_para {
    margin-bottom: 2rem;
}
.section-6 {
    border-top: 1px solid #e5e4e4;
    padding-top: 2rem;
}
.BlueSec {
    background: #255CB3;
    padding: 3rem 0;
}
.BlueSec .BlueSecCon {
    background: #fff;
    margin: 3rem 0;
}
.BlueSec .BlueSecCon {
    background: #fff;
    padding: 2rem 0;
    border-radius: 5px;
}
.BlueSec .BlueSecCon h6 {
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 0 2rem;
}
.BlueSec .BlueSecCon img {
    width: 100%;
    margin: 2rem 0 0;
    padding: 0 2rem;
}
.BlueSec .BlueSecCon p {
    margin: 1.5rem 2rem 0;
    font-size: 1rem;
}
.BlueSecConBtn {
    margin-right: 2rem;
}
.BlueSecConBtn button {
    background: #2a2a2a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all .5s ease-in-out;
}
.BlueSecConBtn button:hover {
    background: #0EAD4C;
    color: #fff;
    transition: all .5s ease-in-out;
}
.BlueSecCon h3 {
    margin-left: 2rem;
}
.LineBusiness {
    background: #EDEAEA;
    padding: 5rem 0;
}
.LineBusiness h2 {
    font-size: 2.5rem;
    font-weight: 600;
}
.LineBusiness .LineBusinessCon {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.LineBusiness .LineBusinessCon h6 {
    font-size: 23px;
    font-weight: 500;
    padding-left: 1rem;
}
.card-margin {
    margin: 0 8rem;
}
.subMenu-img {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    border-bottom: 1px solid #dfdfdf;
}
.subMenu-img img {
    margin-right: 10px;
    width: 20px;
}
.subMenuContent {
    padding: 1rem 2rem;
}
.subMenuContent ul {
    margin-top: 1rem;
    list-style-type: none;
    padding-left: 0;
}
.businessPara {
    margin-bottom: 1rem;
}
.fullWidthSecCon ul {
    padding-left: 0;
    list-style-type: none;
}
.fullWidthSecCon ul li {
    color: #fff;
    margin-bottom: 1rem;
}
.fullWidthSecCon ul li a {
    color: #fff;
}
.service-tab .card {
    border: none;
}
.service-tab .card-header {
    background-color: transparent;
    border-bottom:none;
}
.service-tab .btn-link {
    color: #ed0505;
    font-size: 22px;
}
.service-tab .btn-link:hover , .service-tab .btn-link:active{
    color: #f30000;
}
.service-tab .btn {
    padding: 0.375rem 0;
}
.Digital-para {
    margin-top: 1.5rem;
}
.service-tab .nav-tabs .nav-link {
    border: none;
}
.service-tab .nav-tabs {
    border-bottom: none;
}
.service-tab-con .nav-tabs .nav-link {
    color: #272727;
    padding: 10px 20px 10px 0;
}
.service-tab-con .nav-tabs .nav-link.active {
    color: #f10000;
    border-bottom: 1px solid #f10000;
}
.cloudServicetab {
    text-align: left;
}
.cloudServicetab p {
    font-size: 1rem;
}
.cloudServicetab ul {
    padding-left: 18px;
}
.cloudServicetab ul li {
    margin-top: 1rem;
}
.cloudServicetab ul li a {
    color: rgb(92 92 92);
    font-weight: 700;
}
.SolutioningApproach {
    margin-bottom: 2rem;
}
.trooiq-sec img {
    width: 100%;
    margin-top: 1rem;
}
.trooiq-sec a button {
    margin-top: 1rem;
    border: none;
    background: #F33532;
    color: #fff;
    padding: 10px 15px;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
}
.trooiq-sec a button:hover {
    background: #9b1d1a;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
}
.single_menu_list ul li {
    cursor: pointer;
}
.Connect_Menu {
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 1rem;
}
.Connect_Menu {
    color: #F33532;
} 
.header_part.classic_header .navbar .dropdown-menu .dropdown-item {
    padding: 0 25px;
}
.header_part.classic_header .navbar .nav-link {
    font-size: 13px !important;
}
.header_part.classic_header .navbar .dropdown:hover .nav-link:hover, .header_part.classic_header .navbar .nav-link:hover {
    font-size: 13px !important;
}
.menu_list_inner_content .card {
    border: none;
    box-shadow: 1px 1px 10px #ddd;
    margin: 20px 0;
}
.menu_list_inner_content .card .card-body {
    padding: 1rem;
}
.menu_list_inner_content .card .card-body .card-text {
    font-size: 15px;
    color: #404040;
}
.subMenuContent .subMenu-img h5 {
    font-size: 16px;
}
.header_part.classic_header .navbar .dropdown-menu .dropdown-item {
    font-size: 13px;
    font-weight: 500;
}
.header_part.classic_header .navbar .dropdown-menu {
    padding: 0;
}
.header_part .menu_list .menu_list_inner_content {
    padding: 0 20px 10px; 
}
.breadcrumb_part h2 {
    font-size: 60px;
}
.service-arrordion-para {
    margin-bottom: 1rem;
    font-size: 15px;
}
@media (min-width: 1200px) {
    .header_part .menu_list .single_menu_list {
    margin: 0;
    }
}
.use-case-sec {
    margin-bottom: 5rem;
    /* background: #dffbe3; */
}
.use-case {
    color: #fff;
    font-size: 50px;
    margin: 10px 0 32px;
}
.pages-link {
    margin-bottom: 10px;
}
.testimonial_section .single_testimonial_slider p {
    font-size: 24px;
    line-height: 1.7;
}
.section_tittle h2 {
    font-size: 35px;
}
.ft_font p {
    font-size: 15px;
}
.ServiceBox {
    margin: 2rem 0;
}
.ServiceBox .card-text {
    font-size: 15px;
}
.ServiceBox ul {
    padding-left: 1rem;
}
.ServiceBox ul li  { 
    margin-top: .75rem;
}
.ServiceBox ul li a { 
    /* margin-top: 2rem; */
    color: #051441;
    font-weight: 600;
}
.blocks-3 {
    margin: 3rem 0;
}
.Infrastructure {
    margin-top: 3rem;
}
.block-img-con {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_us_section .about_us_img:last-child {
    margin-top: 0;
} 
.about_us_section .about_us_img {
    margin-top: 0;
}
.footer_section_para {
    font-size: 1rem;
} 
.footer_section .footer_nav ul li a {
    font-size: 1rem;
}
.faq_content.collaps_style .btn {
    font-size: 19px;
}
.faq_content.collaps_style .card-body {
    font-size: 1rem;
}
.single_service_section p {
    font-size: 1rem;
}
.single_blog_post ul a {
    font-size: 14px;
}
.single_blog_post h4 a {
    font-size: 20px;
}
.about_section .about_section_content h2 {
    font-size: 41px;
    font-weight: 500;
}
.about_section .about_section_content p {
    font-size: 1rem;
}
.countdown_section .countdown_section_tittle h4 {
    font-size: 35px;
    line-height: 1.4;
}
.contact_info_section .single_contact_info h4 {
    font-size: 22px;
}
.section_tittle {
    margin-bottom: 33px;
}
.Cyber-Security {
    margin: 1rem 0 4rem;
}
.Cyber-Security p {
    font-size: 1rem;
}
.magiq-text p span {
    background-color: #e92c2f;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
}
.magiq-text h2 {
    font-size: 38px;
    margin-top: 8px;
}  
.magiq-text h2 span {
    color: #e92c2f;
}   
.multiScroll_section .multiScroll_content h2 a {
    font-size: 50px;
    font-weight: 500;
}

/* ---------------------Media Query Start --------------------------- */

@media only screen and (max-width: 1024px) {
    .ourApproachCon .nav-pills .nav-item {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .faq_content.collaps_style .btn.collapsed {
        line-height: 1.5;
        font-size: 1rem;
    }
}
@media only screen and (max-width: 768px) {
    .breadcrumb_part {
        height: 250px;
    }
    .breadcrumb_part h2 {
        font-size: 40px;
    }
    .breadcrumb_part .breadcrumb_iner_link a {
        font-size: 14px;
    }
    .breadcrumb_part p {
        font-size: 14px;
    }
    .about_us_section .about_section_img {
        margin: 3rem 0;
    }
    .section_tittle h2 {
        font-size: 30px;
        line-height: 1.5;
    }
    .Evolve_left_sec img {
        width: 100%;
        margin-bottom: 2rem;
    }
    .fullWidthSec .fullWidthSecCon h3 {
        font-size: 35px;
    }
    .block-img-con {
        justify-content: center;
        flex-wrap: wrap;
    }
    .cloudServicetab {
        margin-top: 2rem;
    }
    .ourApproachCon .tabConRight, .tabConLeft {
        text-align: center;
    }
    .BlueSec .BlueSecCon img {
        padding: 0 2rem;
    }
    /* .about_us_section {
        text-align: center;
    }  */
    .Overview_sec {
        margin-top: 3rem;
    }
    .AccelerateSec {
        text-align: center;
    }
    .AccelerateSecConBtn button {
        margin-top: 1.5rem;
    }
    .BlueSecConBtn {
        margin: 2rem 18.5rem 0 0;
    }
    .AccelerateSec .AccelerateSecCon h6 {
        margin: 0;
    }
    .faq_content {
        margin-top: 4rem;
    }
    .single_service_section h4 a {
        font-size: 20px;
    }
    .single_team_member {
        margin-top: 2rem;
    }
    .blog_details_section .blog_details_thumb h2 {
        font-size: 30px;
    }
    .about_section .about_section_content h2 {
        font-size: 32px;
    }
    .countdown_section .countdown_section_tittle h4 {
        font-size: 29px;
        line-height: 1.6;
    }
    .countdown_section .countdown_section_content span {
        font-size: 40px;
    }
    .cta_part_content p {
        font-size: 16px;
    }
}
@media only screen and (max-width: 425px) {
    .breadcrumb_part h2 {
        font-size: 30px;
    }
    .section_tittle h2 {
        font-size: 28px;
    }
    .fullWidthSec .fullWidthSecCon h3 {
        font-size: 30px;
    }
    .fullWidthSec .fullWidthSecCon p {
        font-size: 1rem;
    }
    .fullWidthSecCon ul li a {
        font-size: 14px;
    }
    .use-case {
        font-size: 40px;
    }
    .footer-top {
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-logo-left {
        margin-bottom: 2rem;
    }
    .footer_section {
        text-align: center;
    }
    .Evolve_right_sec {
        text-align: center;
    }
    .DeliveringSecCon {
        text-align: center;
    }
    .DeliveringSecCon h3 {
        line-height: 1.5;
    }
    .BlueSecCon h3 {
        margin-left: 0;
        font-size: 21px;
    }
    .LineBusiness h2 {
        font-size: 33px;
    }
    .LineBusiness .LineBusinessCon h6 {
        font-size: 20px;
    }
    .BlueSec {
        text-align: center;
    }
    .BlueSec .BlueSecCon h6 {
        margin: 0;
        text-align: center;
    }
    .about_us_section .about_section_img {
        display: none;
    }
    .Overview_sec {
        margin-top: 0;
    }
    .BsocialIcon {
        margin: 2rem 4.5rem 0 0;
    }
    .AccelerateSecConBtn {
        margin: 2rem 8.5rem 0 0;
    }
    .AccelerateSec .AccelerateSecCon h6 {
        margin: 0;
    }
    .AccelerateSecConBtn button {
        margin-top: 0;
    }
    .BlueSecConBtn {
        margin: 2rem 9.5rem 0 0;
    }
    .testimonial_section .single_testimonial_slider p {
        font-size: 20px;
    }
    .comment_part h4 {
        font-size: 27px;
    }
    .about_section {
        text-align: center;
    }
    .FavoriteBlogSec p {
        font-size: 1.2rem;
    }
    .faq_content {
        margin-top: 0;
    }
}
@media only screen and (max-width: 375px) {
    .BlueSec .BlueSecCon h6 {
        line-height: 1.5;
    }
    .BsocialIcon {
        margin: 2rem 3.2rem 0 0;
    }
    .AccelerateSecConBtn {
        margin: 2rem 7.5rem 0 0;
    }
    .BlueSecConBtn {
        margin: 2rem 7.5rem 0 0;
    }
    .LineBusiness .LineBusinessCon h6 {
        font-size: 18px;
    }
    .blog_details_section .blog_details_thumb h2 {
        font-size: 25px;
        line-height: 1.7;
    }
    .about_section .about_section_content h2 {
        font-size: 28px;
    }
}
@media only screen and (max-width: 320px) {
    .StayTuneSecCon .StayTuneSecConForm .inp-icon {
        width: 17rem;
    }
    .StayTuneSec .StayTuneSecCon h3 {
        font-size: 33px;
    }
    .StayTuneSec .StayTuneSecCon p {
        font-size: 14px;
    }
    .DeliveringSecCon h3 {
        line-height: 1.7;
        font-size: 24px;
    } 
    .BsocialIcon {
        margin: 2rem 1.2rem 0 0;
    }
    .AccelerateSecConBtn {
        margin: 2rem 5.5rem 0 0;
    }
    .BlueSecConBtn {
        margin: 2rem 5.5rem 0 0;
    }
    .LineBusiness .LineBusinessCon h6 {
        font-size: 16px;
    }
}
 
